.navigation{
  background-color: rgb(0, 0, 0);
  width: 100%;
  display: table;
  table-layout: fixed;
  position: sticky;
  top: 0px;
  z-index: 99999;
}

.ulNav{
  display: table-row;
}

.navigation .ulNav{
  list-style: none;
  text-align: center;
}

.ulNav .buttons{
  display: table-cell;
}

.navigation .ulNav .buttons .anchor{
  display: block;
  text-decoration: none;
  padding: 10px 0;
}

.buttons:hover .anchor{
  color:black;
  background-color: beige;
}

.anchor{
  text-decoration: none;
  color: white;
  background-color: black;  
}

.anchor:hover{
  color: black;
  background-color: beige;
}

.coffee{
  background-image: url(./coffee.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100%;
  min-width: 100%;
  display: flex;
  position: relative;
  justify-content: center;
  align-content: center;
  filter: grayscale(20%); 
}

.opn{
  position: absolute;
  background-color: rgb(250, 235, 215);
  bottom: 0px;
  left: 0px;
  font-size: 70%;
  padding: 2px;
}

.cafe{
  padding: 10px;
  font-size: 600%;
  color: rgba(212, 169, 76, 0.993);
  position: relative;
  margin: 0px;
  text-align: center;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

.addy{
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: rgb(250, 235, 215);
  font-size: 70%;
  padding: 2px;
}

.container{
  background-color: rgba(247, 224, 195);
}

.aC{
  display: inline-block;
}

h4{
  text-align: center;
  margin: 30px;
}

.ab{
  margin: 0px;
  background-color: black;
  padding: 2px 10px;
  font-size: 25px;
  color: rgb(250, 235, 215);
}

.abt{
  padding: 0px 10px;
  font-size: 20px;
  line-height: 1.5;
}

.quote{
  border-left: 5px solid rgb(133, 89, 48);
  padding: 1px 15px;
  margin: 0px 10px;
  background-color: rgb(245, 245, 220);
}

.q{
  padding: 0px;
  font-size: 17px;
  margin: 5px;
}

.coffee2C{
  padding: 10px;
}

.c2{
  margin: auto;
  text-align: center;
  padding: 5px;
}

img{
  max-width: 100%;
}

.menuContainer{
  text-align: center;
  padding: 10px;
}

h5{
  text-align: center;
  margin: 30px;
}

.menu{
  margin: 0px;
  background-color: black;
  padding: 2px 10px;
  font-size: 25px;
  color: rgb(250, 235, 215);
}

table{
  width: 100%;
  text-align: left;
  border: 1px solid black;
  background-color: rgb(231, 193, 143);
  border-collapse: collapse;
}

th{
  text-align: left;
  border-bottom: 3px solid black;                                                     
}

td{
  background-color: rgb(247, 232, 206);
  padding: 8px;
  font-size: 15px;
  font-weight: 500;
}

.wAffles{
  max-width: 100%;
  padding: 20px 0;
}

.where{
  margin: 0px;
  background-color: black;
  padding: 2px 10px;
  font-size: 25px;
  color: rgb(250, 235, 215);
}

.tag{
  background-color: black;
  font-size: 20px;
  color: rgb(250, 235, 215);
  padding: 0px 5px;
}

.data{
  width: 50%;
  overflow: visible;
  padding: 10px;
  border: 2px solid rgb(163, 126, 77);
}

.button{
  background-color: black;
  font-size: 20px;
  color: rgb(250, 235, 215);
  padding: 5px;
  border: none;
}

@media only screen and (min-width: 1000px){
  .opn{
    font-size: 150%;
  }
  .addy{
    font-size: 150%;
  }
  .cafe{
    font-size: 1000%;
  }
  .aC{
    padding: 1% 15%;
  }
  .navigation .ulNav .buttons .anchor{
    padding: 20px 0;
  }
}